<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판 페이지</title>
</head>
<body>
<header id="header"></header>
<header>
    <h1>게시글 제목</h1>
</header>
<section>
    <p>게시자</p>
    <p>게시날짜</p>
    <p>해시태그</p>
</section>

<article>
    <div>
        <p>본문</p>
    </div>
    <div>
        <form>
            <label>
                <textarea placeholder="댓글 쓰기..."></textarea>
            </label>
            <button type="submit">쓰기</button>
        </form>
    </div>
    <div>
        <ul>
            <li>
                <div>
                    <time>2022-01-01</time>
                    <strong>kyeongho2</strong>
                    <p>댓글 1</p>
                </div>
            </li>
            <li>
                <div>
                    <time>2022-01-01</time>
                    <strong>kyeongho2</strong>
                    <p>댓글 2</p>
                </div>
            </li>
            <li>
                <div>
                    <time>2022-01-04</time>
                    <strong>kyeongho2</strong>
                    <p>댓글 3</p>
                </div>
            </li>
        </ul>
    </div>
    <nav>
        <a href="#">이전 글</a>
        <a href="#">다음 글</a>
    </nav>
</article>



<footer id="footer"></footer>

</body>
</html>