<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판 페이지</title>
</head>
<body>
<header id="header"></header>

<main>
    <form>
        <label>
            <select name="search-type">
                <option>제목</option>
                <option>본문</option>
                <option>해시태그</option>
                <option>작성자</option>
                <option>작성일시</option>
            </select>
        </label>
        <input type="text" placeholder="검색어 입력"/>
        <button type="submit">검색</button>
    </form>

    <table>
        <thead>
        <tr>
            <th>제목</th>
            <th>해시태그</th>
            <th>작성자</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>첫 글</td>
            <td>#첫글</td>
            <td>kyeongho</td>
            <td>2022-01-01</td>
        </tr>
        <tr>
            <td>두 글</td>
            <td>#첫글</td>
            <td>kyeongho</td>
            <td>2022-01-01</td>
        </tr>
        <tr>
            <td>세 글</td>
            <td>#첫글</td>
            <td>kyeongho</td>
            <td>2022-01-03</td>
        </tr>
        </tbody>
    </table>

    <nav>
        <table>
            <tbody>
            <tr>
                <td>prev</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>next</td>
            </tr>
            </tbody>
        </table>
    </nav>
</main>
<footer id="footer"></footer>

</body>
</html>